body{
	background-image: url(fondo2.jpg);
	background-size: cover;
}
.letra{
	font-family: Goudy Stout;
	font-size: 100px;
	animation-name: juli;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}
@keyframes juli{
	0%{color: #000000;}
	25%{color: #848484;}
	50%{color: #BE81F7;}
	100%{color: #8181F7;}
}
.devo{
	position: absolute;
	top: 20px;
	left: 1230px;
	width: 109px;
	height: 112px;
}